/* 
    1- common styles
    2- general Css
    3- sections
      3.1 HOME
      3.2 ABOUT
      3.3 PORTFOLIO
      3.4 SERVICES 
      3.5 PRICES 
      3.6 TEAM 
      3.7 BLOG PAGE
      3.8 CONTACT
*/
/* Common */
/* 
    - container 
    - overlay
    - opacity hover
    - section header
    - section padding
    - hover effect 1 (left to right) 
    - hover effect 2 (top to bottom)
    - 
*/
/* GENERAL STYLES */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* css 3*/
}
.container{
    width: 80%;
    margin: auto;
}
.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5); /*الخانة الرابعه بحدد فيها درجة التضليل*/
}
:root{
    --colorMain: #6195ff;
    --grayColor: #999;
    --bg-gray: #f9f9f9;
    --whiteColor: #fff;
}
ul{
    list-style: none;
}
.hover-opacity:hover{
    opacity: 0.7;
}
.ltr-effect, .tb-effect, .topbtm-effect{
    position: relative;
}
.ltr-effect::after, .tb-effect::after, .topbtm-effect::after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    background-color: rgb(143, 140, 140);
    z-index: -1;/*عشان اخلي التاثير وراء الكلام*/
}
.topbtm-effect::after{
    height: 0%;
    transition: height 0.5s, width 0.5s;
}
.topbtm-effect:hover::after{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 100%;
    width: 100%;
    background-color: rgb(85, 79, 79);
}
.ltr-effect::after{
    width: 0%;
    height: 0%;
    border: 100%;
    transition: width 0.5s;
}
.ltr-effect:hover::after{
    width: 100%;
    height: 100%;
}
.tb-effect::after{
    height: 0%;
    width: 0%;
    transition: height 0.5s, width 0.5s;
}
.tb-effect:hover::after{
    top: 50%;
    left: 50%;
    height: 100%;
    width: 100%;
    transform: translate(-50%,-50%);
}
h1, h2, h3, h4, h5, h6{ /*groping element */
    font-family: montserrat, sans-serif;
}
.clear{
    clear: both;
}
a{
    text-decoration: none;
}
.pd-y{/* عن الاخر section ببعد كل */
    padding: 120px 0;
}
.section-header{/*GENERAL STYLES راح نكرره اكثر من مره عشان هيك حطينا ب */
    text-align: center;
}
.section-header .section-title{
    font-size: 2rem;
    text-transform: capitalize;/*capital اول حرف من كل كلمة */
    margin-bottom: 10px;
}
.section-header .line{
    display: block;/*عشان هيك لازم نحوله inline عنصر span*/
    width: 90px;/*width&height سوينا شكل الخط عن طريق*/
    height: 3px;
    margin: auto;/*margin: بستخدم width لما بدي اوسط اي عنصر ماخذ */
    background-color: var(--colorMain);
    margin: 0 auto 70px auto;
}
/* margin-bottom */
.mg-b-5{ margin-bottom: 5px; }
.mg-b-10{ margin-bottom: 10px; }
.mg-b-15{ margin-bottom: 15px; }
.mg-b-20{ margin-bottom: 20px; }
.mg-b-25{ margin-bottom: 25px; }

/* uppercase */
.uppercase{ text-transform: uppercase; }

/* capitalize */
.capitalize{ text-transform: capitalize; }

/* float left */
.float-left{ float: left; }

/* overflow hidden */
.overflow-hidden{ overflow: hidden; }
/* HEADER */

.header{
    position: fixed;/*لما اعمل سكرل راح ينزل معنا*/
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;/*وعشان اطلعه فوقه بعطيه 1 HOME بكون تحت  header حطيناها لانو*/
}
.header .logo{
    width: 40%;
    float: left;
}
.header .logo img{
    width: 25%;
}
.header .nav{
    width: 60%;
    float: left;
    list-style: none;
}
.header .nav > li{/*nav ولاد li طبق على */
    display: inline-block;/*عشان اجيب العناصر بجانب بعض*/
    text-align: center;
}
.header .nav > li > a{/*بعدل على الكلمات*//*nav ولاد li ولاد a طبق على */   /*Z    > a لما حطيت  dropdown-menu هيك ما راح يطبق الخط على Z*/
    text-decoration: none;/*ازلنا النقاط*/
    color: var(--whiteColor);
    display: block;/*راح ينزلو تحت بعض a كان بداخلها اكثر من li لو a بداخلها li لانو كل block حطينا */
    padding: 20px 20px; /*عشان لما اشاور حوالين الكلمة استطيع ان اضغط عليها a ب padding حطينا */
}
.header .nav > li > a.active:after,/*width مشتركين بكل العناصر ما عدا  a.active:after&a::after*/
.header .nav > li > a::after{
    margin-top: 3px;/*بعد النص عن الخط*/
    content: "";
    display: block;
    height: 3px;
    background-color: var(--colorMain);
    transition: 0.3s;
}
.header .nav > li > a.active:after{/*لازم تضل ضاهرة*/
    width: 100%;
}
.header .nav > li > a::after{/* width: 0; قبل ما اضغط على العنصر اعطيه */
    width: 0;
}
.header .nav > li > a:hover::after{/* width: 100%; بعد ما اضغط على العنصر اعطيه */
    width: 100%;
}
.dropdown{
    position: relative;
}
.dropdown-menu{ 
    position: absolute;
    background-color: var(--colorMain);
    width: 150px;
    text-align: center;
    left: -50%;
    top: 70%;
    opacity: 0;/*نسبة ضهورها*/
    visibility: hidden;/*حالتها مخفيه ولما اشاور عليها تضهر*/
    transition: opacity 0.5s, visibility 0.5s
}
.dropdown:hover .dropdown-menu{/*dropdown-menu اضهر  dropdown لما اشاور على */
    opacity: 1; /*  opacity: 1 , visibility: visible; : هو  dropdown افضل تكنيك ل*/
    visibility: visible;
}
.dropdown-menu a{
    text-decoration: none;
    padding: 10px;
    display: block;
    color: var(--whiteColor);
}
/* HOME */
.home{
    height: 100vh; /*100% خلي يملا حيز الشاشة */
    background-image: url('../images/background/background1.webp');
    background-size: cover;/*خلي الصورة على حجم المقاس للشاشة*/
    background-attachment: fixed;
    position: relative;
}
.home_content{
    /* background-color: yellow; */
    position: absolute;
    /*بوسط عنصر داخل عنصر اخر hero images تكنيك*/
    left: 50%;
    top: 50%;
    width: 60%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.home-title{
    color: var(--whiteColor);
    font-size: 3.2rem;
    text-transform: uppercase;
}
.home-description{
    margin: 15px 0;
    letter-spacing: 2px;/*بعد الحروف عن بعض*/
    line-height: 1.5;/*بعد السطور عن بعض*/
    color: var(--whiteColor);
}
.home .btn{/*button العناصر المشتركة لل*/
    min-width: 160px;
    padding: 10px 0;
    border-radius: 10px;
    border: 0;
    cursor: pointer;/*تتحكم ب شكل الماوس*/
    font-size: 16px;
}
.home .btn-start{
    margin-right: 10px;
    background-color: var(--whiteColor);
}
.home .btn-learn{
    background-color: rgb(50, 50, 238);
    color: var(--whiteColor);
}
.btn-hover{
    transition: opacity 0.3s ease-in all; /*عشان احدد مين الي يصير عليه التاثير لو ما كتبته التاثير بصير على كل العناصر opacity كتبنا قبل الرقم */
}
.btn-hover:hover{
    opacity: 0.7;
    /* background: rgba(0, 0, 0, 0.3); */
}
/* ABOUT */
.about-content{
    overflow: hidden;/*float عشان مشكلة*/
}
.about-item{
    width: 30%;
    height: 38vh;
    float: left;
    border: 1px solid #e8e8e8;
    text-align: center;
    padding: 4% 10px;
   
}
.about-item:hover .about-item-title{/*غير لون الخط about-item لما يتم التاشير على*/
    color: var(--whiteColor);
}
.about-item.mg{
    margin: 0 5%;/*90% ماخذ  about-item 5% اخذ من اليمين 5% و اليسار */
}
.about-item .icon{
    color: var(--colorMain);
    margin-bottom: 10px;
}
.about-item-title{
    text-transform: capitalize;
    margin-bottom: 10px;
    transition: color 0.5s;
}
.about-item-desc{
    line-height: 1.5;
    margin-bottom: 10px;
    color: var(--grayColor);
}
.about-item-link{
    text-transform: capitalize;
    color: var(--colorMain);
}

/* PORTFOLIO */
.portfolio{
    background-color: var(--bg-gray);
}
.portfolio-content{
    overflow: hidden;
}
.portfolio-item{
    width: 32%;
    float: left;
    margin-bottom: 25px;/*يطبق على كل العناصر*/
    position: relative;
    padding: 20px;/*عشان ادخل الصوره والضبابية تكون اكبر*/
}
.portfolio-item .layer-content{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(43, 39, 39, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
}
.portfolio-item:hover .layer-content{
    opacity: 1;
    visibility: visible;
}

.portfolio-item.mg{/*اعطاناه للعنصر الثاني و الخامس*/
    margin: 0 2%;
}
.portfolio-item img{
    width: 100%; /*كل صوره بتوخذ نفس الحجم width: 32%; من*/
}
.layer-content .layer-info{/*عشان اوسط العناصر بداخل الصوره*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    width: 80%;
}
.layer-content .category{
    color: var(--colorMain);
    text-transform: uppercase;
    margin-bottom: 5px;
    display: block;
    position: relative;
    top: 12px;/*اول شي بتكون نازله شوي*/
    opacity: 0; /*اول شيء ما يكون ضاهر*/
    visibility: hidden;
    transition: top 0.5s,opacity 0.5s;/* لما اضغط عليه الكلام بطلع لفوق بسرعة ابطئ*/
    transition-delay: 0;/*بيضهر اول واحد عشان زمن التاخير 0*/
}
.layer-content .layer-content-title{
    font-size: 20px;
    color: var(--whiteColor);
    margin-bottom: 10px;
    position: relative;
    top: 12px;/*اول شي بتكون نازله شوي*/
    opacity: 0;
    visibility: hidden;
    transition: top 0.5s,opacity 0.5s;/* لما اضغط عليه الكلام بطلع لفوق بسرعة ابطئ*/
    transition-delay: 0.3s;
}
.layer-content a{/*icon التعديل على*/
    color: var(--whiteColor);
    width: 50px;
    border-radius: 12%;
    height: 50px;
    display: inline-block;
    background-color: var(--colorMain);
    position: relative;
    top: 12px;/*اول شي بتكون نازله شوي*/
    opacity: 0;
    visibility: hidden;
    transition: top 0.5s,opacity 0.5s;/* لما اضغط عليه الكلام بطلع لفوق بسرعة ابطئ*/
    transition-delay: 0.6s;
}
.layer-content a i{
    line-height: 50px;/*icon بتوسط*/
}
.portfolio-item:hover .layer-content-title,
.portfolio-item:hover .layer-content .category,
.portfolio-item:hover .layer-content a{/*لما اضغط عليه الكلام بطلع لفوق*/
    opacity: 1;
    visibility: visible;
    top: 0;
}
/* OFFER */
.offer-content{
    overflow: hidden;
}
.offer-content .offer-item{
    width: 30%;
    float: left;
}
.offer-item{
    margin-bottom: 20px;
    border: 1px solid #e8e8e8;
    padding: 30px 15px 30px 70px;
    position: relative;
}
.offer-item.mg{
    margin: 0 5%;
}
.offer-item .icon{
    position: absolute;
    left: 15px;
    top: 30px;
    font-size: 30px;
    color: var(--colorMain);
}
.offer-item-title{
    text-transform: capitalize;
    margin-bottom: 12px;
    transition: color 0.5s;
}
.offer-item:hover .offer-item-title{
    color: var(--whiteColor);
}
.offer-item-desc{
    text-transform: capitalize;
    margin-bottom: 10px;
    line-height: 1.5;
    color: var(--grayColor);
}
.offer-item.ltr-effect::after{
    border-radius: 0px;
    background-color: rgba(37, 6, 122, 0.15);
}

/* SERVICE */
.service{
    background-color: var(--bg-gray);
}
.service-item{
    width: 50%;
    float: left;
}
.service-item .section-header{
    text-align: left;
}
.service-item .section-header .line{
    margin: 0 0 50px 0;
}
.service-item-desc{
    color: var(--grayColor);
    font-size: 17px;
    line-height: 1.3;
    margin-bottom: 15px;
    padding-right: 20px;
}
.service-list{
    list-style: none;
}
.service-list li{
    margin-bottom: 12px;/*عن الثانية li بعد كل*/
    color: var(--grayColor);
}
.service-list li i{
    border: 1px double var(--colorMain);
    color: var(--colorMain);
    padding: 5px 5px;
    border-radius: 50%;/*icon بعمل شكل الدائرة حوالين*/
    margin-right: 15px;
}
.service-item-img img{
    width: 100%;/*  بتوخذها من الحيز الي اعطيناها اياه*/
}
.service-bollets{/*النقاط الي تحت الصور*/
    list-style: none;
    text-align: center;
}
.service-bollets li{
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 10px 5px;
    border-radius: 50%;
}
.service-bollets li.active{
    background-color: var(--colorMain);
}
.service-bollets li:hover{
    background-color: var(--colorMain);
}

/* NUMBERS */
.numbers{
    position: relative;
    height: 40vh;
    background-image: url('../images/background/background2.webp');
    background-size: cover;
    background-attachment: fixed;
}
.numbers-items{
    overflow: hidden;
    padding: 82px 0;/*بنزل كل العناصر*/
}
.number-item{
    width: 25%;/*كل عنصر بوخذ ربع المساحة*/
    float: left;
    text-align: center;
}
.number-item .icon{
    color: var(--colorMain);
    margin-bottom: 15px;
}
.number-item-title{
    color: var(--whiteColor);
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 3px;
}
.number-item-text{
    color: var(--whiteColor);
    text-transform: capitalize;
}
/* PRICES */
.pricing-plans{
    overflow: hidden;
}
.pricing-item{
    width: 30%;
    float: left;
    padding: 40px 15px;
    border: 1px solid #e8e8e8;
    text-align: center;
}
.pricing-item.mg{
    margin: 0 5%;
}
.pricing-item-text{
    color: var(--grayColor);
    text-transform: uppercase;
    font-size: 17px;
    transition: color 0.5s;
}
.pricing-item-permonth{
    width: 130px;
    height: 130px;
    margin: 20px auto;
    padding: 20px 0;
    border: 2px solid var(--colorMain);
    border-radius: 50%;
    text-align: center;
    transition: color 0.5s;
}
.pricing-item-permonth .doller{
    font-size: 50px;
}
.pricing-item-permonth .month{
    text-transform: uppercase;
    font-weight: bold;
}
.pricing-item-list{
    list-style: none;
    margin-bottom: 15px;
}
.pricing-item-list li{
    color: var(--grayColor);
    line-height: 1.8;
}
.pricing-item-purchase{
    color: var(--colorMain);
    background: none;
    border-radius: 20px;
    border: 2px solid var(--colorMain);
    display: block;
    width: 150px;
    padding: 10px;
    margin: 15px auto 0 auto;
    cursor: pointer;
}
.pricing-item-purchase:focus{ outline: none; }
.pricing-item:hover .pricing-item-permonth {
    color: #3968c5;
}
.pricing-item:hover .pricing-item-text{
    color: var(--colorMain);
}
/* TEAM */
.team-content{
    overflow: hidden;
}
.team-item .team-img{
    width: 90%;
    margin: auto;
    position: relative;
}
.team-overlay{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
}
.team-overlay a{
    border-radius: 50%;
    display: block;
    width: 45px;
    height: 45px;
    background-color: #3968c5;
    color: var(--whiteColor);
    margin: 2px;
    margin-left: auto;
}
.team-overlay a i{
    display: block;
    width: 100%;
    height: 100%;
    line-height: 45px;
}
.team-item:hover .team-overlay{
    opacity: 1;
    visibility: visible;
}
.team-img img{
    transition: 0.5s;
    width: 100%;
}
.team-item:hover .team-img img{
    border-radius: 12%;
    transition: 0.5s;
}
.team-item{
    width: 30%;
    float: left;
    background-color: rgba(0, 0, 0, 0.05);
    padding: 20px 15px;
    text-align: center;
}
.team-item .team-info-title{
    color: #222;
    margin: 12px 0;
    transition: color 0.5s;
}
.team-item .team-info-text{
    color: var(--grayColor);
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    transition: color 0.5s;
}
.team-item.topbtm-effect{
    z-index: 1;
}
.team-item:hover .team-info-title{
    color: var(--whiteColor);
}
.team-item:hover .team-info-text{
    color: #3968c5;
}
.team-item.mg{
    margin: 0 5%;
}
.team-item .team-overlay a{
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s, visibility 0.5s;
}
.team-item:hover .team-overlay .icon2{
    transition-delay: 0.2s;
}
.team-item:hover .team-overlay .icon3{
    transition-delay: 0.5s;
}
.team-item:hover .team-overlay .icon1,
.team-item:hover .team-overlay .icon2,
.team-item:hover .team-overlay .icon3
{
    visibility: visible;
    opacity: 1;
}
/* testimonail */
.testimonail{
    position: relative;
    height: 60vh;
    background-image: url('../images/background/background3.webp');
    background-size: cover;
    background-attachment: fixed;
}
.testimonail-content{
    overflow: hidden;
    padding: 120px 0;
    width: 80%;
    margin: auto;
}
.testimonail-item{
    width: 50%;
    float: left;
}
.testimonail-item .testimonail-toplayer{
    padding: 12px 10px 40px 90px; 
    position: relative;
}
.testimonail-item .testimonail-toplayer img{
    position: absolute;
    top: 8px;
    left: 12px;
    transition: border-radius 0.5s;
}
.testimonail-item .testimonail-toplayer:hover img{
    border-radius: 50%;
}
.testimonail-toplayer-txt{
    margin: 0 12px 10px;
    color: var(--whiteColor);
}
.testimonail-toplayer-soustxt{
    color: var(--colorMain);
    margin: 0 12px 10px;
    font-size: 17px;
    font-weight: bold;
}
.testimonail-desc{
    color: rgb(233, 225, 225);
    line-height: 1.5;
}
/* BLOG PAGE */
.blog{
 background: #f8f8f4;
}

.blog-content {
    overflow: hidden;
}
.blog-item {
    width: 30%;
    float: left;
    background: #fff;
}

.blog-item.mg {
    margin: 0 5%;
}

.blog-item-img img {
    width: 100%; /*من الاب*/
}

.blog-info {
    padding: 20px;
}

.blog-list {
    list-style: none;
    margin: 10px 0;
}

.blog-list li {
    display: inline-block;
    margin: 0 5px;
}

.blog-list li i {
    color: var(--colorMain);
}

.blog-title {
    font-weight: bold;
    margin: 20px 0;
}

.blog-desc{
    color: #999;
    margin-bottom: 10px;
    line-height: 1.5;
}

.blog-link {
    color: var(--colorMain);
}

/* CONTACT */
.contact-item{
    width: 30%;
    float: left;
    text-align: center;
    font-family: montserrat,sans-serif;
}
.contact-item .icon{
    color: var(--colorMain);
    font-size: 2rem;
}
.contact-item-text{
    margin: 20px 0;
    text-transform: capitalize;
    font-size: 1.3rem;
}
.contact-item-desc{
    color: var(--grayColor);
}
.contact-item.mg{
    margin: 0 5%;
} 
.contact-form{
    width: 70%;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}
.contact-item-input, .contact-item-subject, .contact-item-msg{
    border: none;
    border-bottom: 2px solid #eee;
    background-color: var(--bg-gray);
    padding: 10px;
}
input::placeholder, textarea::placeholder{ color: #999;}
.contact-item-input.input1{
    width: 49%;
    float: left;
}
.contact-item-input.input2{ 
    float: right; 
    width: 49%;
}
.input-group input:focus, .input-group textarea:focus{
    border-bottom: 2px solid var(--colorMain);
}
.contact-item-subject{
    width: 100%;
    display: inline-block;
    margin: 20px 0
}
.contact-form .contact-item-msg{
    min-width: 100%;
    height: 100px;
    font-size: 18px;
    display: inline-block;
}
.contact-btn, input, select, textarea {
    font-size: inherit;
}
.contact-btn{
    padding: 15px 0;
    border: none;
    border-radius: 3px;
    margin-top: 20px;
    display: inline-block;
    width: 180px;
    color: var(--whiteColor);
    font-size: 16px;
    background-color: var(--colorMain);
    cursor: pointer;
}
/* FOOTER */
.footer{
    background-color: #1c1d21;
    text-align: center;
    padding: 60px 0;
}
.footer-links{
    list-style: none;
    margin: 20px 0;
}
.footer-links li{
    display: inline-block;
    /* margin: 0 5px; */
}
.footer-links li a{
    display: block;
    width: 50px;
    height: 50px;
    background-color: #3968c5;
    color: var(--whiteColor);
    border-radius: 50%;
    margin: 0 5px;

}
/*.footer:hover .footer-links li a{
    border-radius: 50%;
    background-color: #3968c5;
    color: var(--whiteColor);
}*/
.footer-links li a i{
    line-height: 50px;
    font-size: 30px;
}
/*.footer .footer-links li a:hover{
    border-radius: 50%;
    background-color: var(--whiteColor);
    color:#3968c5;
}*/
.footer .copyright{
    color: var(--grayColor);
    text-transform: uppercase;
    font-size: 15px;
}
.footer .copyright a{
    color: #6195ff;
    transition: 0.3s opacity;
}
.footer .copyright a:hover{
    opacity: 0.8;
}
